<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial_scale=1.0">
    <title>Fraud Detection Model</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Fraud Detection</h1>

        <form id="prediction-form" method="POST" action="/predict" class="form-container">

            <label for="features">Enter features(comma separated,except Amount and time): </label><br>
            <input type="text" name="features" id="features" placeholder="e.g., 0.1, 0.2, ..." class="input-field" required><br><br>

            <label for="Amount">Amount: </label><br>
            <input type="number" name="amount" id="amount" class="input-field" required><br><br>

            <label for="Time">Time: </label><br>
            <input type="number" name="time" id="time" class="input-field" required><br><br>

            <label for="model">Select Model:</label>
            <select name="model" id="model" class="input-field">
                <!--option value="logistic_regression">Logistic Regression</option-->
                <!--option value="random_forest">Random Forest</option-->
                <option value="xgboost">XGBoost</option>
            </select><br><br>

            <button type="submit">Predict</button>
        </form>

            <!-- Display the result -->
             <div id="result" class="result-setion">
                <h2>{{ prediction_text }}</h2>
             </div>     
    </div>

</body>
</html>
